manifest {
    homePage = 'https://github.com/DockstoreTestUser2/galaxy-workflows'
    description = 'Mutant version of https://github.com/lehtiolab/galaxy-workflows for testing'
    mainScript = 'qc.nf'
}

profiles {

  standard {
    includeConfig 'configuration/base.config'
    process {
      executor = 'slurm'
    }
  }

  testing {
    includeConfig 'configuration/base.config'
    executor {
      cpus = 20
    }
  }
}
